@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* === COLORS === */

/* ### Primary

- Lime Green: hsl(163, 72%, 41%)
- Bright Red: hsl(356, 69%, 56%)

- Facebook: hsl(208, 92%, 53%)
- Twitter: hsl(203, 89%, 53%)
- Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
- YouTube: hsl(348, 97%, 39%)

#### Dark Theme

- Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%)

#### Light Theme

- Toggle: hsl(230, 22%, 74%)

### Neutral

#### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%) */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Inter', sans-serif;
    background-color: hsl(230, 17%, 14%);
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

/* === GENERAL === */

.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.data-color-red {
  color: hsl(356, 69%, 56%)!important;
}

.data-color-green{
color: hsl(163, 72%, 41%)!important;
}


/* === SOCIAL-HEADER-AREA === */

#social-header-area {
    background-color: hsl(232, 19%, 15%);
    padding-top: 2rem;
    padding-bottom: 5rem;
    border-radius: 0 0 2rem 2rem;
}

#social-header-container {
  display: flex;
  justify-content: center;
  position: relative;
  right: 1.7rem;
}

#social-header-items {
    line-height: .5rem;
}


#social-header-container p {
    color: hsl(228, 34%, 66%);
}

.line {
    /* border:solid hsl(228, 34%, 66%) .2px; */
    border: none;
    height: 1px;
    background-color: hsl(228, 34%, 66%);
    margin-top: 1.5rem;
    width: 19rem;
}

#switcher-container {
    grid: flex;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    margin-top: 1rem;
}

#switcher-items {
    grid-column-start: 1;
}

#switcher-items-2 {
    grid-column-start: 3;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: .3rem;
}


#switcher-items p {
    color: hsl(228, 34%, 66%);
    font-weight: 700;
}

/* === Switcher === */
.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 23px;
    bottom: .4rem;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 18px;
    left: 1px;
    bottom: 2px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-image: linear-gradient(90deg, #ccc, #ccc);
    

  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: white;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* === DASHBOARD === */

  #dashboard-container {
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 300px;
    gap: 1rem;
    position: relative;
    bottom: 3rem;
    justify-content: center;
  }
  
  .card1 {
    background-color: hsl(228, 28%, 20%);
    width: 100%;
    height: 12.5rem;
    border-radius: .3rem;
  }

  #color-line-1 {
    width: 100%;
    height: auto;
    position: relative;
    bottom: .5rem;
  }

  #color-line-1 > hr{
    height: 4px;
    background-color: hsl(208, 92%, 53%);
    border: none;
    border-radius: 10rem 10rem 10rem 10rem;
  }

  .card2 {
    background-color: hsl(228, 28%, 20%);
    width: 100%;
    height: 12.5rem;
    border-radius: .3rem;
    position: relative;
    top: 1.5rem;
  }
  .card3 {
    background-color: hsl(228, 28%, 20%);
    width: 100%;
    height: 12.5rem;
    border-radius: .3rem;
    position: relative;
    top: 3rem;
  }
  .card4 {
    background-color: hsl(228, 28%, 20%);
    width: 100%;
    height: 12.5rem;
    border-radius: .3rem;
    position: relative;
    top: 4.5rem;
  }

  /* === CARD1 === */

  .icon-flex {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
  }

  .image-sizing {
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
  }

  .icon-flex p {
    color: hsl(228, 34%, 66%);
  }

  .follower-number {
    margin: 0;
    font-size: 50px;
  }

  .follower-text {
    color: hsl(228, 34%, 66%);
    font-size: 12px;
    letter-spacing: 5px;
    margin: 0;
  }

  .data {
    margin-top: .5rem;
  }

  .icon-flex-2 {
    display: flex;
    flex-direction: row;
    gap: .3rem;
    justify-content: center;
    margin-bottom: 0;
    margin-top: .4rem;
    font-size: 12px;
  }

  .image-sizing-statistics {
    width: .4rem;
    height: .3rem;
    align-self: center;
  }

  /* === CARD 2 === */

  #color-line-2 {
    width: 100%;
    height: auto;
    position: relative;
    bottom: .5rem;
  }

  #color-line-2 > hr{
    height: 4px;
    background-color: hsl(203, 89%, 53%);
    border: none;
    border-radius: 10rem 10rem 10rem 10rem;
  }

  .statistics-data {
    color: hsl(163, 72%, 41%);
    font-weight: bold;
  }

  /* === CARD 3 === */

  #color-line-3 {
    width: 100%;
    height: auto;
    position: relative;
    bottom: .5rem;
  }

  #color-line-3 > hr{
    height: 4px;
    background: linear-gradient(to right,hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    border: none;
    border-radius: 10rem 10rem 10rem 10rem;
  }

  .statistics-data {
    color: hsl(163, 72%, 41%);
  }

  /* === CARD 4 === */

  #color-line-4 {
    width: 100%;
    height: auto;
    position: relative;
    bottom: .5rem;
  }

  #color-line-4 > hr{
    height: 4px;
    background-color: hsl(348, 97%, 39%);
    border: none;
    border-radius: 10rem 10rem 10rem 10rem;
  }

  .statistics-data-red {
    color: hsl(356, 69%, 56%);
  }

  /* === OVERVIEW === */

  #overview-header {
    display: flex;
    justify-content: center;
    position: relative;
    right: 3.7rem;
    margin-top: 2rem;
  }


  #overview-grid {
    display: grid;
    grid-template-rows: 130px 130px 130px 130px 130px 130px 130px 130px;
    grid-template-columns: 300px;
    gap: 1rem;
    position: relative;
    justify-content: center;
  }

  /* === OVERVIEW CARD 1 === */

  .overview-card-bg {
    background-color: hsl(228, 28%, 20%);
    width: 100%;
    height: 8rem;
    border-radius: .3rem;
  }

.overview-card-1 {
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

.overview-card-1 > p {
  color: hsl(228, 34%, 66%);
}

.image-sizing-overview {
 position: relative;
 left: 9rem;
}

.image-sizing-overview-data {
  position: relative;
  left: 10.8rem;
 }

 .overview-card-1-bottom {
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1.5rem;
  position: relative;
  bottom: .7rem;
 }

 .overview-card-1-bottom > h1 {
  font-size: 30px;
 }

 .overview-card-1-bottom p {
   position: relative;
   left: 11rem;
   color: hsl(163, 72%, 41%);
 }


 /* === OVERVIEW CARD 2 */

 .overview-card-bg-2 {
  background-color: hsl(228, 28%, 20%);
  width: 100%;
  height: 8rem;
  border-radius: .3rem;
}

.overview-card-2 {
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

.overview-card-2 > p {
  color: hsl(228, 34%, 66%);
}

.image-sizing-overview-data-2 {
  position: relative;
  left: 10.8rem;
 }

.overview-card-2-bottom > h1 {
  font-size: 30px;
 }

 .overview-card-2-bottom p {
  position: relative;
  left: 11rem;
  color: hsl(356, 69%, 56%);
}

.image-sizing-overview-2 {
  position: relative;
  left: 12rem;
 }


  /* === OVERVIEW CARD 3 */

  .overview-card-bg-3 {
    background-color: hsl(228, 28%, 20%);
    width: 100%;
    height: 8rem;
    border-radius: .3rem;
  }

  .overview-card-3 {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1.5rem;
    padding-top: 1rem;
  }
  
  .overview-card-3 > p {
    color: hsl(228, 34%, 66%);
  }
  
  .image-sizing-overview-data-3 {
    position: relative;
    left: 8rem;
   }

   .data-3 {
     position: relative;
     left: 8.2rem!important;
   }
  
  .overview-card-3-bottom > h1 {
    font-size: 30px;
   }
  
   .overview-card-3-bottom p {
    position: relative;
    left: 11rem;
    color: hsl(356, 69%, 56%);
  }
  
  .image-sizing-overview-3 {
    position: relative;
    left: 12rem;
   }

   /* === OVERVIEW CARD 4 */

   .overview-card-bg-4 {
    background-color: hsl(228, 28%, 20%);
    width: 100%;
    height: 8rem;
    border-radius: .3rem;
  }

   .overview-card-4 {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1.5rem;
    padding-top: 1rem;
  }
  
  .overview-card-4 > p {
    color: hsl(228, 34%, 66%);
  }
  
  .image-sizing-overview-data-4 {
    position: relative;
    left: 9rem;
   }

   .data-4 {
     position: relative;
     left: 9.2rem!important;
   }
  
  .overview-card-4-bottom > h1 {
    font-size: 30px;
   }
  
   .overview-card-4-bottom p {
    position: relative;
    left: 11rem;
    color: hsl(356, 69%, 56%);
  }
  
  .image-sizing-overview-4 {
    position: relative;
    left: 8.9rem;
   }
    /* === OVERVIEW CARD 5 */

    .overview-card-bg-5 {
      background-color: hsl(228, 28%, 20%);
      width: 100%;
      height: 8rem;
      border-radius: .3rem;
    }

    .overview-card-5 {
      flex-direction: row;
      justify-content: flex-start;
      padding-left: 1.5rem;
      padding-top: 1rem;
    }
    
    .overview-card-5 > p {
      color: hsl(228, 34%, 66%);
    }
    
    .image-sizing-overview-data-5 {
      position: relative;
      left: 9.7rem;
     }
  
     .data-5 {
       position: relative;
       left: 10rem!important;
     }
    
    .overview-card-5-bottom > h1 {
      font-size: 30px;
     }
    
     .overview-card-5-bottom p {
      position: relative;
      left: 11rem;
      color: hsl(356, 69%, 56%);
    }
    
    .image-sizing-overview-5 {
      position: relative;
      left: 10.5rem;
     }

     /* === OVERVIEW CARD 6 */

     .overview-card-bg-6 {
      background-color: hsl(228, 28%, 20%);
      width: 100%;
      height: 8rem;
      border-radius: .3rem;
    }

     .overview-card-6 {
      flex-direction: row;
      justify-content: flex-start;
      padding-left: 1.5rem;
      padding-top: 1rem;
    }
    
    .overview-card-6 > p {
      color: hsl(228, 34%, 66%);
    }
    
    .image-sizing-overview-data-6 {
      position: relative;
      left: 9.3rem;
     }
  
     .data-6 {
       position: relative;
       left: 9.5rem!important;
     }
    
    .overview-card-6-bottom > h1 {
      font-size: 30px;
     }
    
     .overview-card-6-bottom p {
      position: relative;
      left: 11rem;
      color: hsl(356, 69%, 56%);
    }
    
    .image-sizing-overview-6 {
      position: relative;
      left: 12rem;
     }

      /* === OVERVIEW CARD 7 */

      .overview-card-bg-7 {
        background-color: hsl(228, 28%, 20%);
        width: 100%;
        height: 8rem;
        border-radius: .3rem;
      }

      .overview-card-7 {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 1.5rem;
        padding-top: 1rem;
      }
      
      .overview-card-7 > p {
        color: hsl(228, 34%, 66%);
      }
      
      .image-sizing-overview-data-7 {
        position: relative;
        left: 9.9rem;
       }
    
       .data-7 {
         position: relative;
         left: 10rem!important;
       }
      
      .overview-card-7-bottom > h1 {
        font-size: 30px;
       }
       
      .image-sizing-overview-7 {
        position: relative;
        left: 12rem;
       }

      /* === OVERVIEW CARD 8 */

      .overview-card-bg-8 {
        background-color: hsl(228, 28%, 20%);
        width: 100%;
        height: 8rem;
        border-radius: .3rem;
      }

      .overview-card-8 {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 1.5rem;
        padding-top: 1rem;
      }
      
      .overview-card-8 > p {
        color: hsl(228, 34%, 66%);
      }
      
      .image-sizing-overview-data-8 {
        position: relative;
        left: 8.8rem;
       }
    
       .data-8 {
         position: relative;
         left: 9rem!important;
       }
      
      .overview-card-8-bottom > h1 {
        font-size: 30px;
       }
      
       .overview-card-8-bottom p {
        position: relative;
        left: 11rem;
        color: hsl(356, 69%, 56%);
      }
      
      .image-sizing-overview-8 {
        position: relative;
        left: 9.5rem;
       }


       /* === MEDIA QUERIES === */

       @media (min-width: 1440px) {

        #social-header-area {
          background-color: hsl(232, 19%, 15%);
          padding-top: unset;
          padding-bottom: unset;
          width: 100%;
          height: 18rem;
          border-radius: 0 0 2rem 2rem;
      }

        .line {
          visibility: hidden;
        }

        #social-header-container {
          display: flex;
          justify-content: center;
          position: relative;
          top: 2rem;
          font-size: 1.2rem;
          right: 29rem;
        }

        #switcher-container {
          grid: flex;
          grid-template-rows: 1fr;
          grid-template-columns: 300px 100px 100px 100px 100px 100px 100px 100px 100px 110px;
          justify-content: center;
          margin-top: 0;
          margin-bottom: 5rem;
          position: relative;
          bottom: 3.5rem;
      }

        #switcher-items {
          grid-row-start: 1;
          grid-column-start: 10;
        }

        #switcher-items p {
          position: relative;
          left: 1rem;
          font-size: 1rem;
        }

        #switcher-items-2 {
          grid-row-start: 1;
          grid-column-start: 11;
          align-items: center;
        }

        .switch {
          position: relative;
          display: inline-block;
          width: 66px;
          height: 33px;
          bottom: .4rem;
        }

        .switch input { 
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 25px;
          width: 25px;
          left: 1.5px;
          bottom: 4px;
          background-color: black;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-image: linear-gradient(90deg, #ccc, #ccc);
          

        }

        input:focus + .slider {
          box-shadow: 0 0 1px #ccc;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(34px);
          background-color: white;
        }

        .slider.round {
          border-radius: 34px;
          
        }

        .slider.round:before {
          border-radius: 50%;
        }

        #dashboard-container {
          display: grid;
          grid-template-rows: 200px;
          grid-template-columns: 300px 300px 300px 300px;
          gap: 1rem;
          position: relative;
          bottom: 8rem;
          justify-content: center;
        }

        .card2{
          position: relative;
          top: 0;

        }

        .card3 {
          position: relative;
          top: 0;
        }

        .card4 {
          position: relative;
          top: 0;
        }

        #overview {
          height: 0;
        }
        

        #overview-header {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: unset;
          position: relative;
          bottom: 7rem;
          right: 31rem;
          font-size: 1.2rem;
        }

        #overview-grid {
          display: grid;
          grid-template-rows: 130px;
          grid-template-columns: 300px 300px 300px 300px;
          gap: 1rem;
          position: relative;
          justify-content: center;
          bottom: 7rem;
        }
      


       }









