@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* === COLORS === */

/* ### Primary

- Lime Green: hsl(163, 72%, 41%)
- Bright Red: hsl(356, 69%, 56%)

- Facebook: hsl(208, 92%, 53%)
- Twitter: hsl(203, 89%, 53%)
- Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
- YouTube: hsl(348, 97%, 39%)

#### Dark Theme

- Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%)

#### Light Theme

- Toggle: hsl(230, 22%, 74%)

### Neutral

#### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%) */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Inter', sans-serif;
    background-color: hsl(230, 17%, 14%);
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

/* === GENERAL === */

.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin-left: 2rem;
}

/* === SOCIAL-HEADER-AREA === */

#social-header-area {
    background-color: hsl(232, 19%, 15%);
    padding-top: 2rem;
    padding-bottom: 5rem;
    border-radius: 0 0 1rem 1rem;
}

#social-header-items {
    line-height: .5rem;
}

#social-header-container p {
    color: hsl(228, 34%, 66%);
}

#social-header-container hr {
    /* border:solid hsl(228, 34%, 66%) .2px; */
    border: none;
    height: 1px;
    background-color: hsl(228, 34%, 66%);
    margin-top: 1.5rem;
    max-width: 22rem;
    margin-right: 3rem;
}

#switcher-container {
    grid: flex;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 100px 100px;
}

#switcher-items {
    grid-column-start: 1;
}

#switcher-items-2 {
    grid-column-start: 3;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}


#switcher-items p {
    color: hsl(228, 34%, 66%);
    font-weight: 700;
}

/* === Switcher === */
.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 23px;
    bottom: .4rem;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 18px;
    left: 28px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-image: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(-26px);
    background-color: black;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



